<div class="bg-image", style="background-image: url('<%= asset_path('title-img.jpeg') %>')">
  <div class="title-container">
    <h2>アカウント編集</h2>
  </div>
</div>
<div class="bg-image", style="padding: 40px 10px">
  <div class=main-container>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :user_img, "アイコン" %><br />
        <%= f.file_field :user_img %>
      </div>

      <div class="field">
        <%= f.label :username, "ユーザー名" %><br />
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :guitar_type, "ギターの種類" %><br />
        <%= f.text_field :guitar_type %>
      </div>

      <div class="field">
        <%= f.label :profile, "プロフィール" %><br />
        <%= f.text_area :profile %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード変更" %> <i>(変更したい場合)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード変更（確認）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード" %> <i>(変更には現在のパスワードが必要です)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "btn btn-info" %>
      </div>
    <% end %>

    <%= link_to "戻る", :back, class: "btn btn-success" %>
  </div>
</div>
