<div class="p-5 text-center bg-image", style="background-image: url('<%= asset_path('guitar_top.jpg') %>'); height: 650px">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div>
        <div class="text-white">
          <h1 class="mb-3">集まれ！ギター初心者の集い</h1>
          <p class="mb-3">ギター初心者の集いは初心者みんなでモチベアップを図るための動画共有サイトです。</p>
          <p class="mb-3">気になった動画を検索しよう！</p>
        </div>
        <% if user_signed_in? %>
          <p><%= link_to ">ギター動画を投稿する", new_post_path, class: "btn btn-info btn-lg col-6" %></p>
        <% else %>
          <p><%= link_to ">新規登録はこちら", new_user_registration_path, class: "btn btn-info btn-lg col-6" %></p>
          <%= link_to ">ログインはこちら", new_user_session_path, class: "btn btn-outline-info btn-lg col-5" %>
          <%= link_to ">ゲストログインはこちら", users_guest_sign_in_path, method: :post, class: "btn btn-outline-info btn-lg col-5" %>
        <% end %>
        <div class="text-white">
          <hr class="top-title-hr">
          <p>＼キーワードで投稿を検索／</p>
        </div>
        <%= render "shared/keyword_search_form" %>
      </div>
    </div>
  </div>
</div>
