<div class="bg-image", style="background-image: url('<%= asset_path('title-img.jpeg') %>')">
  <div class="title-container">
    <h2>投稿編集</h2>
    <p>投稿した内容を編集できます。</p>
  </div>
</div>
<div class="bg-image", style="padding: 50px 10px">
  <div class="main-container">
    <h3>|投稿内容を編集</h3>
    <%= form_with model: @post do |f| %>
      <table class="table align-middle mb-3 bg-white">
        <tbody>
          <tr>
            <th>
              <%= f.label :title, "タイトル" %>
              <p>(20文字以内まで)</p>
            </th>
            <td>
              <%= f.text_field :title, size: "40" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :content, "コメント" %>
              <p>(250文字以内まで)</p>
            </th>
            <td>
              <%= f.text_area :content, size: "40x5" %>
            </td>
          </tr>
          <tr>
            <th>
              <%= f.label :category, "おすすめのジャンル" %>
            </th>
            <td>
              <%= f.select :category, [["クラシック", "クラシック"], ["ロック", "ロック"], ["ポップス", "ポップス"], ["ジャズ", "ジャズ"], ["その他", "その他"]],
              include_blank: "選択してください" %>
            </td>
          </tr>
        </tbody>
      </table>
      <%= f.hidden_field :user_id, value: @user_id %>
      <div class="actions">
        <%= f.submit "更新する", class: "btn btn-info" %>
        <%= link_to "キャンセル", :back, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
