<div class="bg-image", style="background-image: url('<%= asset_path('title-img.jpeg') %>')">
  <div class="title-container">
    <h2>投稿一覧</h2>
    <p>投稿一覧では、他のユーザーが投稿した内容を見ることができます。</p>
    <p>総投稿数：<%= Post.count %><p/>
  </div>
</div>
<div class="bg-image", style="padding: 50px 10px">
  <div class="main-container">
  <div class="input-group">
    <%= render "shared/keyword_search_form" %>
    <%= render "shared/tag_search_form" %>
  </div>
    <%= render "shared/posts_table" %>
  </div>
</div>
