<div class="bg-image", style="background-image: url('<%= asset_path('title-img.jpeg') %>')">
  <div class="title-container">
    <h2>投稿検索結果</h2>
    <p>検索結果：<%= @posts.count %>件が見つかりました。<p/>
  </div>
</div>
<div class="bg-image", style="padding: 50px 10px">
  <div class="main-container">
    <div class="input-group">
      <%= render "shared/keyword_search_form" %>
      <%= render "shared/tag_search_form" %>
    </div>
    <%= render "shared/posts_table" %>
  </div>
</div>
